<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Survey Form</title>
</head>
<body>
    <form action="/result" method="POST">
        Your Name: <input type="text" name="name"><br>
        Dojo Location: <select name="location">
            <option value="seattle">Seattle</option>
            <option value="san jose">San Jose</option>
            <option value="chicago">Chicago</option>
        </select><br>
        Favorite Language: <select name="language">
            <option value="python">Python</option>
            <option value="mean">Mean</option>
            <option value="html">HTML</option>
            <option value="ruby">Ruby</option>
            <option value="java">Java</option>
        </select><br>
        Comment (optional): <textarea name="comment" rows="4" cols="45"></textarea><br>
        <input type="submit" value="Submit">
     </form>
</body>
</html>